<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/stylesheet.css">
    </head>

    <body>
        <div class="maincontent">
            <header>
                <nav class="black">
                    <a href="{{url_for('funcion_inicio')}}"><button>Inicio</button></a>
                    <a href="{{url_for('funcion_fecha')}}"><button>Fecha</button></a>
                    <a href="{{url_for('funcion_palabra')}}"><button>Palabras</button></a>
                    <a href="{{url_for('funcion_form')}}"><button>Ejemplo form</button></a>
                </nav>
            </header>
            {%block body%}
            {%endblock%}
        </div
    </body>
</html>