.maincontent {
    background: #e9e9e9;
    width: 500px;
    margin: auto;
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding-left: 15px;
    padding-right: 15px;
}

.black {
    background: rgb(134, 134, 134);
    color: white;
}


  